# Dependencies
node_modules/
/.pnp
.pnp.js

# Production
.expo/
dist/
web-build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store

# Android
android/app/build
android/.gradle
*.jks
*.keystore

# iOS
ios/Pods/
ios/build/
*.xcworkspace